<%- include("../partials/header") %>



<div class="rowf" style="margin-top: 50px;">
    <div class="jumbotron text-center" style="width: 100%; padding: 30px; padding-top: 1; ">
        <h3 style="text-transform: capitalize; background-color: black; color: white; border-radius: 10px; padding: 2px;">
          Company Information
        </h3>
        <div class="card-body4 mx-auto">
          <div class="testimonial">
            <p class="testimonial-text">
                <strong>Last Updated: October'2023</strong><br><br>
                Welcome to Zarqoon Jewelry, your go-to online store for exquisite jewelry pieces. Here is our company information:<br><br>

                <strong>1. Business Name</strong><br>
                Zarqoon Jewelry<br><br>
            
                <strong>2. About Us</strong><br>
                At Zarqoon Jewelry, we are passionate about providing our customers with high-quality, beautifully crafted jewelry. Our team of skilled artisans designs each piece with precision and care. Whether you're looking for a stunning engagement ring, elegant necklace, or unique earrings, we have a wide selection to cater to every taste and occasion.<br><br>
            
                <strong>3. Mission Statement</strong><br>
                Our mission is to create lasting memories for our customers through our exquisite jewelry. We are committed to delivering exceptional products and excellent customer service, ensuring your shopping experience with us is seamless and enjoyable.<br><br>
            
                Thank you for choosing Zarqoon Jewelry for your jewelry needs. For any inquiries or assistance, please do not hesitate to contact us using the provided information.<br><br>
          </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>