<%- include("../partials/header") %>


<div class="row1" style="margin-top: 50px;">
        <div class="jumbotronC text-center mx-auto" style=" padding: 30px; padding-top: 1; ">
                <h3 style="text-transform: capitalize; background-color: black; color: white; border-radius: 10px; padding: 2px;">
                    Contact Us
                </h3>
                <div class="card-body3 mx-auto">
                <div class="testimonial">
                <p class="testimonial-text">
                        <strong>Last Updated: October'2023</strong><br><br>
                        <strong>Phone:</strong> +92 332 2014165<br>
                        <strong>Email:</strong> zarqoonjewelry@gmail.com <br>
                        <strong>Address:</strong><br> 1st Commercial Lane,<br> Zamzama, Phase 5,<br> DHA, Karachi,<br> Pakistan<br><br>
                </div>
        </div>
</div>

<%- include("../partials/footer") %>