<%- include("../partials/header") %>

<div class="rowf" style="margin-top: 50px;">
    <div class="jumbotron text-center" style="width: 100%; padding: 30px; padding-top: 1; ">
        <h3 style="text-transform: capitalize; background-color: black; color: white; border-radius: 10px; padding: 2px;">
          Exchange Policy
        </h3>
        <div class="card-body4 mx-auto">
          <div class="testimonial">
            <p class="testimonial-text">
                <strong>Last Updated: October'2023</strong><br><br>
                At Zarqoon Jewelry, we want you to be completely satisfied with your purchase. If you need to exchange an item, please carefully read and follow our exchange policy outlined below:<br><br>

                <strong>1. Eligibility for Exchange</strong><br><br>
            
                We only accept exchanges for items that are unused, unworn, and in their original condition. Exchanges are only allowed within 5 days from the date of purchase.<br><br>
            
                <strong>2. How to Initiate an Exchange</strong><br><br>
            
                To initiate an exchange, please contact our customer support team within the eligible exchange period. Provide your order number and the details of the item you wish to exchange. Our team will guide you through the exchange process.<br><br>
            
                <strong>3. Shipping Your Item</strong><br><br>
            
                You will be responsible for paying the shipping costs for returning your item. Shipping costs are non-refundable. We recommend using a trackable shipping service and purchasing shipping insurance. We cannot guarantee that we will receive your returned item.<br><br>
            
                <strong>4. Inspection and Processing</strong><br><br>
            
                Once we receive your returned item, it will be inspected. We will send you an email to notify you that we have received your item and inform you of the approval or rejection of your exchange. If your exchange is approved, we will process the replacement and ship it to you.<br><br>
            
                <strong>5. Exclusions</strong><br><br>
            
                Items that are personalized or customized cannot be exchanged unless they arrive damaged or defective.<br><br>
            
                By making a purchase from Zarqoon Jewelry, you acknowledge that you have read, understood, and agree to our Exchange Policy.<br><br>
          </div>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>