<%- include("../partials/header") %>

<div class="rowf" style="margin-top: 50px;">
    <div class="jumbotron text-center" style="width: 100%; padding: 30px; padding-top: 1; ">
        <h3 style="text-transform: capitalize; background-color: black; color: white; border-radius: 10px; padding: 2px;">
          Privacy Policy
        </h3>
        <div class="card-body4 mx-auto">
            <div class="testimonial">
                <p class="testimonial-text">
                    <strong>Last Updated: October'2023</strong><br><br>
                
                    Zarqoon Jewelry is committed to protecting the privacy and security of your personal information. This Privacy Policy describes how we collect, use, disclose, and store your personal information when you visit our website or make a purchase from us. By accessing or using our services, you agree to the terms of this Privacy Policy.<br><br>
                
                    <strong>1. Information We Collect</strong><br><br>
                
                    We collect personal information from you when you visit our website, make a purchase, or communicate with us. This information may include your name, email address, mailing address, phone number, payment details, and any other information you provide to us.<br><br>
                
                    <strong>2. How We Use Your Information</strong><br><br>
                
                    We use the personal information we collect for various purposes, including:<br>
                    - Processing and fulfilling your orders<br>
                    - Communicating with you about your orders, products, and promotions<br>
                    - Providing customer support<br>
                    - Personalizing your shopping experience<br>
                    - Analyzing website usage and improving our services<br>
                    - Sending you marketing communications if you have opted in to receive them<br><br>
                
                    <strong>3. Disclosure of Your Information</strong><br><br>
                
                    We do not sell, trade, or otherwise transfer your personal information to outside parties without your consent, except as described below:<br>
                    - To trusted third parties who assist us in operating our website, conducting our business, or servicing you, as long as those parties agree to keep this information confidential.<br>
                    - When we believe disclosure is necessary to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.<br><br>
                
                    <strong>4. Security</strong><br><br>
                
                    We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.<br><br>
                
                    <strong>5. Cookies</strong><br><br>
                
                    We use cookies to enhance your experience on our site. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information.<br><br>
                
                    <strong>6. Your Consent</strong><br><br>
                
                    By using our site, you consent to our Privacy Policy.<br><br>
                
                    <strong>7. Changes to our Privacy Policy</strong><br><br>
                
                    If we decide to change our Privacy Policy, we will update the Privacy Policy modification date above.<br><br>
              </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>