<%- include("../partials/header") %>


<div class="rowf" style="margin-top: 50px;">
    <div class="jumbotron text-center" style="width: 100%; padding: 30px; padding-top: 1; ">
        <h3 style="text-transform: capitalize; background-color: black; color: white; border-radius: 10px; padding: 2px;">
          Shipping Policy
        </h3>
        <div class="card-body4 mx-auto">
          <div class="testimonial">
            <p class="testimonial-text">
                <strong>Last Updated: April'2024</strong><br><br>

                Thank you for shopping at Zarqoon Jewelry. Here are the details of our shipping policy:<br><br>

                <strong>1. Processing Time</strong><br><br>
            
                All orders are processed within 4 working days (International Orders - 15 days). Orders are not shipped or delivered on weekends or holidays.<br><br>
            
                <strong>2. Shipping Rates & Delivery Estimates</strong><br><br>
            
                Shipping charges for your order will be calculated and displayed at checkout. We offer standard and expedited shipping options. Delivery estimates will be provided to you once your order is confirmed, and you will receive a tracking number to track your package's progress.<br><br>
            
                <strong>3. International Shipping</strong><br><br>
            
                We ship worldwide.<br><br>
            
                <strong>4. Shipment Confirmation & Order Tracking</strong><br><br>
            
                You will receive a shipment confirmation email once your order has been shipped containing your tracking number(s).<br><br>
            
                <strong>5. Damages</strong><br><br>
            
                Zarqoon Jewelry is not liable for any products damaged or lost during shipping. If you received your order damaged, please contact the shipment carrier or our support team directly to file a claim. Please save all packaging material and damaged goods before filing a claim.<br><br>
            
                By making a purchase from Zarqoon Jewelry, you acknowledge that you have read, understood, and agree to our Shipping Policy.<br><br>

          </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>