a {
  text-decoration: none;
  color: inherit;
}

.card{
  height: 90%;
}
.card1{
  height: 90%;
}

/* .cart-count {
  color: #ffffff;
  padding: 0 6px;
  border-radius: 50%;
  background-color: #2980b9;
  font-size: 0.75rem;
  position: relative;
  top: 0;
  right: 0;
} */

.login-register,
.product-form,
.review-form,
.checkout-form,
.cart-show {
  width: 100%;
  margin: 25px auto;
}

.login-register {
  max-width: 300px;
}

.product-form,
.review-form,
.cart-show {
  max-width: 500px;
}

.checkout-form {
  max-width: 800px;
}

.resp-img {
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.resp-img2 {
  width: 40%;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  border-radius: 20px;
}

.pro-ind {
  height: 225px;
}

.pro-show {
  height: 350px;
}

.cart,
.order {
  height: 100px;
}

.a,
.a-order,
.a-order:hover {
  color: black;
}

.a:hover {
  color: green;
}

a:hover {
  text-decoration: none !important;
}

.opac {
  opacity: 0.8;
}

.screen-center-conf {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -185px;
}

.screen-center-cart {
  position: relative;
}

.empty-cart-img {
  width: 350px;
  height: 300px;
}
.confirmation-img {
  width: 100px;
  height: 100px;
}

.ord-ind-div {
  width: 100%;
  max-width: 550px;
  margin: auto;
}
.red-letter {
  color: black;
  font-size: 2.8rem;
  padding-right: 45px;
}
.ord-show-div {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.white {
  color: white;
}

.mrp {
  text-decoration: line-through;
  opacity: 0.8;
  font-size: 0.8em;
}

.disc {
  color: green;
  font-size: 0.8em;
}

.nowrap {
  white-space: nowrap;
}

.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  color: #007bff;
}

.navbar-toggler{
  border: 1px solid black;
  fill: black;
}
.dropdown-item:active {
  color: rgb(0, 0, 0);
  background-color: #e4e4e4;
}
.sticky-top{
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  background-color: white;
  color: black;
}

.navbar a {
  color: black;
}

.nav-searchbar {
  height: 100%;
  width: 16cm;
  border: 1px solid #ced4da;
  border-radius: 0.85rem;
  outline: none;
  padding: 0.5rem 1rem;
  padding-right: 3rem;
  border-radius: 2px;
  background: white;
  color: black;
}
.search-icon :hover {
  cursor: pointer;
}
input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.search-icon {
  margin-left: -2rem;
  margin-right: 2rem;
  color: black;
}

.cart-logo {
  position: relative;
}

#cart-count {
  color: #ffffff;
  padding: 0 6px;
  border-radius: 50%;
  background-color: #2980b9;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
}


.category-container {
  border: 3px solid black;
  color: black;
  padding-left: 20px;
  border-radius: 1rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  background: white; 
  height: 50px;
}

.category-container span {
  font-size: 1.5rem;
  font-weight: 500;
}
.category-container:hover {
  background-color: black;
  color: white;
  border: 3px solid white;
}


.jumbotron {
  background: white ;
  color: black;
  width: 100%;
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 0%;
}

.jumbotronC {
  background: white ;
  color: black;
  width: 50%;
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 0%;
}

.jumbotron45 {
  background: white ;
  color: black;
  width: 45%;
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 0%;
}


.jumbotron25 {
  background: white ;
  color: black;
  width: 25%;
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 0%;
  height: 100%;
}

.jumbotron30 {
  background: white ;
  color: black;
  width: 30%;
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 0%;
  height: 100%;
}

.jumbotron435 {
  background: white ;
  color: black;
  width: 43.5%;
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 0%;
  height: 100%;
}

@media screen and (max-width: 1234px) {
  .jumbotron435 {
    background: white ;
    color: black;
    width: 100%;
    border-radius: 0;
    text-align: center;
    margin-bottom: 0;
    padding: 30px;
    height: 100%;
  }
  .resp-img2{
    width: 30%;
  }
  .jumbotron25 {
    background: white ;
    color: black;
    width: 45%;
    border-radius: 0;
    text-align: center;
    margin-bottom: 0;
    padding: 0%;
    height: 100%;
  }
  .jumbotron30 {
    background: white ;
    color: black;
    width: 50%;
    border-radius: 0;
    text-align: center;
    margin-bottom: 0;
    padding: 0%;
    height: 100%;
  }
}

.navbar-nav .nav-item:nth-child(4) {
  margin-left: 6rem;
}


.rowp {
  gap: 1rem;
  margin: 1rem;
  display: flex; 
  justify-content: space-between;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  padding-top: 30px;
  border-radius: 0.5rem;
}

.rowp::-webkit-scrollbar {
  height: 2px;
  width: 3px; 
}

.rowp::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 6px; 
}

.row{
  gap: 1rem;
  margin: 1rem;
  display: flex; 
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  padding-top: 30px;
  border-radius: 0.5rem;
}

.row::-webkit-scrollbar {
  height: 2px;
  width: 3px; 
}

.row::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 6px; 
}



.row1 {
  /* gap: 1rem; */
  /* margin: 1rem; */
  display: flex; 
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
  -webkit-overflow-scrolling: touch;
  /* overflow-y: scroll;
  height: 800px; */
}



.row0 {
  /* gap: 1rem; */
  /* margin: 1rem; */
  display: flex; 
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
  /* overflow-y: scroll;
  height: 800px; */
}


.row3 {
  gap: 1rem;
  margin: 1rem;
  display: flex; 
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  padding-top: 30px;
}
.row3::-webkit-scrollbar {
  height: 2px;
  width: 3px; 
}

.row3::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 6px; 
}

.row3-3 {
  gap: 1rem;
  margin: 1rem;
  display: flex; 
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  padding-top: 30px;
}
.row3-3::-webkit-scrollbar {
  height: 2px;
  width: 3px; 
}

.row3-3::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 6px; 
}


.row4 {
  gap: 1rem;
  margin: 1rem;
  display: flex; 
  justify-content: space-between;
  flex-wrap: nowrap;
  /* overflow-x: auto; */
  /* -webkit-overflow-scrolling: touch; */
  align-items: center;
  padding-top: 30px;
}


.rowf {
  gap: 1rem;
  margin: 1rem;
  display: flex; 
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  padding-top: 30px;
}



/* .row::-webkit-scrollbar {
  height: 2px;
  width: 3px; 
  background-color: black; 
  border-radius: 6px;
  border-radius: 0.5rem; 
} */
/* .row::-webkit-scrollbar {
  height: 2px;
  width: 3px; 
  background-color: black; 
  border-radius: 6px; 
  border-radius: 0.5rem;
} */
/*
.row3::-webkit-scrollbar {
  height: 2px;
  width: 3px; 
  background-color: black; 
  border-radius: 6px; 
  border-radius: 0.5rem;
} */

/* .row0::-webkit-scrollbar {
  height: 2px;
  width: 3px; 
  background-color: black; 
  border-radius: 6px; 
  border-radius: 0.5rem;
} */

/* .rowf::-webkit-scrollbar {
  height: 2px;
  width: 3px; 
  background-color: black; 
  border-radius: 6px; 
  border-radius: 0.5rem;
} */

/* .card-body4::-webkit-scrollbar {
  height: 2px;
  width: 3px; 
  background-color: black; 
  border-radius: 6px; 
  border-radius: 0.5rem;
} */


.product-container {
  gap: 1rem;
  margin: 1rem;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-items: center; */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 500px;
}

.product-container::-webkit-scrollbar {
  height: 2px;
  width: 3px; 
}

.product-container::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 6px; 
}

.card-body{
  border: 1px solid black;
  height: auto;
  padding: 10px;
  border: 1px solid black;
  box-shadow:  -1px 1px #a3b2cc,
       -2px 2px #a3b2cc,
       -3px 3px #a3b2cc,
       -4px 4px #a3b2cc,
       -5px 5px #a3b2cc;
}



.card-body1{
  /* border: 1px solid black; */
  height: 310px;
  width: 180px;
  padding: 10px;
  border: 1px solid black;
  box-shadow:  -1px 1px #a3b2cc,
       -2px 2px #a3b2cc,
       -3px 3px #a3b2cc,
       -4px 4px #a3b2cc,
       -5px 5px #a3b2cc;
}
/* 
@media screen and (max-width: 768px) {
  .row{
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
  }
  .col-6 .col-md-6{
    width: 100%;
  }
  .row3{
    justify-content: space-between;
  }
  .card-body1{
    justify-content: space-between;
  }
} */

.col-6 .col-md-6{
  width: 100%;
}
.card-body2{
  /* border: 1px solid black; */
  text-align: center;
  align-items: center;
  height: 310px;
  width: 95%;
  padding: 10px;
  /* margin: 20px; */
  /* margin-top: 40px;
    margin-bottom: 60px; */
  border: 1px solid black;
  box-shadow:  -1px 1px #a3b2cc,
       -2px 2px #a3b2cc,
       -3px 3px #a3b2cc,
       -4px 4px #a3b2cc,
       -5px 5px #a3b2cc;
}
.card-body3{
  /* border: 1px solid black; */
  text-align: center;
  align-items: center;
  height: 100%;
  width: 95%;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
  box-shadow:  -1px 1px #a3b2cc,
       -2px 2px #a3b2cc,
       -3px 3px #a3b2cc,
       -4px 4px #a3b2cc,
       -5px 5px #a3b2cc;
}

.card-body4{
  /* border: 1px solid black; */
  text-align: center;
  align-items: center;
  height: 310px;
  width: 100%;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
  box-shadow:  -1px 1px #a3b2cc,
       -2px 2px #a3b2cc,
       -3px 3px #a3b2cc,
       -4px 4px #a3b2cc,
       -5px 5px #a3b2cc;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* For Desktops and larger screens */
@media (min-width: 992px) {
  .category-container {
    padding: 3rem;
  }
}

/* Other Responsive Styles */
.resp-img1 {
  width: 100%;
  /* height: 100%; */
  height: 150px;
  /* width: 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}


.headline-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  position: sticky;
  top: 0;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin-right: 10px;
}

.moving-message {
  flex: 1;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing content */
}

.phone-number {
  top: 10px;
  right: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 5s ease-in;
}




#footer {
  background: black;
  bottom: 0;
  width: 100%;
}

.footer-widget .container {
  border-top: 1px solid black;
  padding-top: 5px;
}

.single-widget h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.single-widget h2 i{
	margin-right:15px;
}

.single-widget ul li a{
	color: #8C8C88;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 5px 0;
}

.single-widget ul li a i {
  margin-right: 18px;
}

.single-widget ul li a:hover{
	background:none;
	color:white;
}


.searchform input {
  border: 1px solid #DDDDDD;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 0;
  outline: medium none;
  padding: 7px;
  width: 212px;
}


.searchform p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
}



.searchform button i {
  color: #FFFFFF;
  font-size: 40px;
  margin-top: 10px;
  margin-left: -10px;
  display: flex;
}


.searchform p {
  color: #8C8C88;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
}

.footer-bottom {
  background: black;
  margin-bottom: -50px;
}

.footer-bottom p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: small;
}

/* Custom Button Style */
.btn-info {
  color: #fff;
  background-color: black;
  border-color: gray;
}

.btn-info:hover {
  background-color: #3498db;
  color: white;
  border-color: gray;
}
.btn-success {
  color: #fff;
  background-color: green;
  border-color: green;
}

.btn-custom {
  background-color: #3498db; /* Button background color */
  color: #fff; /* Button text color */
  border: 1px solid #2980b9; /* Button border color */
  border-radius: 5px; /* Button border radius */
  transition: background-color 0.3s ease; /* Transition effect for background color */
  margin: 0 auto; 
  align-items: center;
}


.btn-custom:hover {
  background-color: #2980b9; /* Darker background color on hover */
}

.btn-custom:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.5); /* Focus outline color */
}

.btn-custom:active {
  background-color: #1f618d; /* Background color when button is active/pressed */
}

.price-filter {
  margin-bottom: 20px;
}


.price-value {
  display: inline-block;
  /* margin-left: 10px; */
}


.img {
  border-radius: 10px;
  max-width: 100%;
}

.h4 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.p {
  font-size: 16px;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0069d9;
}


.testimonial {
  margin: 10px;
  padding: 1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.testimonial-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial-text {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.testimonial-author {
  font-size: 19px;
  font-weight: bold;
  color: #555;
  padding-bottom: 5px;
}


.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: none;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 0%;
  border: 3.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  padding-bottom: 5px;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
=======

@media screen and (max-width: 768px) {
  #cart-count{
    right: 90%;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
  .nav-searchbar{
    width: 100%;
  }
  .card {
    height: 75%;
    width: 115%;
  }
  .card {
    height: 75%;
    width: 100%;
  }
  .rowp{
    flex-direction: column;
    overflow-y: scroll;
  }

  .row{
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
    overflow-x: 0;
  }
  .row4{
    flex-direction: column;
    height: 100%;
    flex-direction: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .row1{
    flex-direction: column;
    height: 100%;
    flex-direction: nowrap;
    overflow-x: 0;  
  }

  .row3{
    margin: -1rem;

  }
  .row3::-webkit-scrollbar {
    height: 0px;
    width: 3px; 
  }
  .row3-3{
    margin: -1rem;
  }
  .row3-3::-webkit-scrollbar {
    width: 3px; 
  }

  .rowf{
    height: auto;
  }

  .jumbotron45{
    width: 100%;
    margin-top: 10px;
    padding: 15px;
  }
  .jumbotron25{
    width: 100%;
  }
  .jumbotron30{
    width: 100%;
  }
  .jumbotron435{
    width: 100%;
    padding: 30px;
  }
  .card-body2{
    padding: 20px;
    margin: 10px;
  }

  .jumbotronC{
    width: 100%;
  }
  .resp-img2{
    width: 45%;
    height: 85px;
  }
  /* .card-body2{
    width: auto;
  } */
  .card-body3{
    height: auto;
  }
  .nav{
    flex-wrap: nowrap;
    display: block;
  }
  .product-container{
    flex-wrap: nowrap;
  }
  .mt-3{
    text-align: center;
  }
  .price-filter {
    margin-bottom: 0px;
  }
} 



