<%- include("../partials/header") %>

<div class="text-center screen-center-cart ">
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgL54f8y2KvkViOnugSECHrjF6P0VazvrhZg&usqp=CAU" class="confirmation-img">
	<h3>Congratulations!! Your Order has been placed!!</h3>
	<h5>It will be delivered within 4 working days!</h5>
	<a href="/orders/<%= id %>" class="btn btn-success" style="margin-bottom: 62px;">View Order Details</a>
</div>

<%- include("../partials/footer") %>